<app-menu-title></app-menu-title>
<div class="container__articles">
    <div class="articles__main">
        <app-big-card photoCover="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_960_720.jpg"
            cardTitle="NOVO ENUNCIADO DINAMICO" cardDescription="Descrição do card dinamico tambem.">
        </app-big-card>

    </div>
    <div class="articles__main">
        <app-small-card photoCoverSmall="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_960_720.jpg"
            cardTitleSmall="Novo titulo do smal card dinamico "></app-small-card>
        <app-small-card photoCoverSmall="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_960_720.jpg"
            cardTitleSmall="Novo titulo do smal card dinamico "></app-small-card>
        <app-small-card photoCoverSmall="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_960_720.jpg"
            cardTitleSmall="Novo titulo do smal card dinamico "></app-small-card>
    </div>
</div>