<div class="container__small-card">
    <div class="container__small-card-content">

        <div class="small-card_photo">
            <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_960_720.jpg" alt="" width="" srcset="">
        </div>
        <div class="small-card__title">
            <h1> <a href="#"> Saiu a nova versão do Angular</a></h1>
        </div>
        <div class="small-card__description">
            <p>
                o texto aqui
            </p>
        </div>
    </div>

    <div class="container__small-card-separator">
        <hr>
    </div>
</div>

<hr>